// $bg_banner : 

.bg-banner-img{
    background-image: url('./../../../assets/img/bg-main-img.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #ffffff80;
}
.bg-banner2-img{
    background-image: url('./../../../assets/img/bg-purple.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #ffffff80;
}