@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@import "tailwindcss";

:root {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
}
body {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: black;
}

/* dark mode styles */
body.dark-mode {
  background-color: #000;
  color: white;
}

p {
  color: #000;
  font-size: 14px;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p {
  color: #fff;
}
body.dark-mode .normal-screen {
  display: none;
}
body.dark-mode .dark-screen {
  display: block;
}
.dark-screen {
  display: none;
}
.dark-mode .bg-banner-img {
  background-color: #000000bd;
}

.dark-mode .bg-banner2-img {
  background-color: #000000bd;
}
.dark-mode .tag-section ul li a {
  color: #c8cfda!important;
  background-color: #434c5f!important;
  border-color: #ffffff0d!important;
}
.dark-mode .community-sec  {
 background-color: #1e2129!important;
}
.dark-mode .footer-sec  {
 background-color: #1e2129!important;
}
.dark-mode .footer-sec .social ul li a svg {
 color: #fff!important;
}
@theme {
  --color-primarycolor: #0d4df2;
  --color-btncolor: #4878f3;
  --color-footerbg: #e7eaef;
}

@media (max-width: 768px) {
  .screen-shot-section img {
    width: 60px;
  }
  .community-sec::before {
    display: none;
  }
}
